@font-face {
  font-family: "Roboto Light";
  src:
          local("Roboto Light"),
          url("/fonts/Roboto-Light.ttf") format("truetype")
}
:root {
  font-family: "Roboto Light", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.login-form {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}